*DS_Store*
*.o
*~
*.cache
*.log
*.status
*.hg*
*.tar.gz
eigen/CMakeCache.txt
eigen/*/CmakeCache.txt
eigen/CMakeFiles/*
eigen/*/CMakeFiles/*
eigen/Eigen/src/*
eigen/bench/*
eigen/blas/*
eigen/build/*
eigen/demos/*
eigen/doc/*
eigen/failtest/*
eigen/lapack/*
eigen/test*/*
eigen/unsupported/*
gcta-0.93.9/*
gcta64
stamp-h*
libtool
confdefs.h
config.h
configure.lineno
conftest*
Makefile
Makefile*orig
m4/autoconf/*
m4/m4sugar/*
CMakeFiles/*
